@model Weather
<h1 class="text-white">
   The temperature is @Model.Farenheit degrees. It feels like @Model.TempFeelsLike degrees. 
   The temperature will reach a high of @Model.TempMax. We'll get a low of @Model.TempMin.
   The humidity level is @Model.Humidity and the pressure is @Model.Pressure.
</h1>
